<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>linhdesign</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="/">
          <img class="img-responsive" src="/images/logo.png" style="height: 35px"/>
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="page-scroll" href="#home">Home</a></li>
          <li><a class="page-scroll" href="#about">About</a></li>
          <li><a class="page-scroll" href="#works">Works</a></li>
          <li><a class="page-scroll" href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="work" class="block">
    <div class="container">
      <div class="row work-title">
        <div class="col-md-12">
          <h1 class="title">ustair</h1>
          <div class="line"></div>
        </div>
      </div>
      <div class="row work-description">
        <div class="text-center col-md-6 col-md-offset-3">
          <p>The aim of the project with the slogan “do exercise whenever you can” is to encourage people to use stairs instead of elevators and escalators. Every movement can count and make joyful footprints on stairs due to interactive images and sound effects. A friendly design with neon colors and an unique footprints for every steps.</p>
          <p>Collaborative project with Epoch Team</p>
        </div>
      </div>
      <div class="row work-slideshow">
        <label class="col-md-1 col-md-offset-2 indicator-wrapper"><span id="indicator">1</span>-1</label>
        <div class="col-md-6" id="image-holder" >
          <iframe src="https://player.vimeo.com/video/149892159" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="col-md-2 prev-next">
          <button id="prev" disabled class="btn btn-link">Prev</button>|
          <button id="next" disabled class="btn btn-link">Next</button>
        </div>
      </div>
      <div class="row">
        <p>Designed by Linh Do</p>
      </div>
      </div>
    </div>
  </section>

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.easing.min.js"></script>
  <script src="/js/scrolling-nav.js"></script>
  <script src="/js/work.js"></script>
</body>

</html>
